.App {
  background-color: #AD914C;
  color: #242014;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
}

a{
  color: #242014;
}

a:active a:visited a:hover {
  color: #CFBD91;
}

a:hover {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #242014;
}

.title {
  color: #cfbd91;
  vertical-align: middle;
}

.buttonholder{
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #242014;
  color: #CFBD91;
  border: 0 none;
  border-radius: 0;
}

.btn:focus,
.btn:active{
  box-shadow: none !important;
  outline: 0 !important;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: #242014;
  color: #E9E0CC;
  border: 0 none;
}

.instructions {
  margin: 0 5%;
}

.shopId {
  font-weight: bold;
  font-size: 2em;
}

.modal-content {
  background-color: #CFBD91;
}

thead {
  background-color: #242014;
  color: #AD914C
}

tbody>tr {
  background-color: #CFBD91;
}

tbody>tr:hover {
  background-color: #E9E0CC;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  margin-right: .75em;
}

.COMMON {
  background-color: black;
}

.UNCOMMON {
  background-color: green;
}

.RARE {
  background-color: blue;
}

.VERYRARE {
  background-color: purple;
}

.LEGENDARY {
  background-color: gold;
}

.badge {
  background-color: green;
}